GROQ_API_KEY="1234"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="your-app-name"
OPENROUTER_API_KEY="1234"

# Database Configuration
POSTGRES_DB=smart_support_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres_password@127.0.0.1:5433/smart_support_db